<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Data Mobil</h4>
        <form class="form-sample">
          <p class="card-description">
            Info Data Mobil
          </p>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nama Perusahaan</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="Solusi Pratama" />
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Alamat</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="Jalan  Raya Dukuh" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Telepon</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="021-293849" />
                   
                </div>
              </div>
            </div>
            
          </div>
     
       
          <button type="submit" class="btn btn-primary">Simpan</button>
            <button class="btn btn-dark">Batal</button>
        </form>
      </div>
    </div>
  </div>